@charset "UTF-8";
/* color
   ----------------------------------------------------------------- */
/* font
   ----------------------------------------------------------------- */
/* メディアクエリ
   ----------------------------------------------------------------- */
/* 線装飾_共通
   ----------------------------------------------------------------- */
.header {
  color: #B3424A;
  padding: 1.3888888889% 8.3333333333%;
  position: fixed;
  top: 0;
  width: calc(100% - 240px);
  z-index: 1000;
}
@media screen and (max-width: 850px) {
  .header {
    padding: 20px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__list {
  display: flex;
}
@media screen and (max-width: 850px) {
  .header__list {
    display: none;
  }
}
.header__item {
  padding-left: 20px;
}
.header a {
  color: #fff;
}
.header a:hover {
  color: #B3424A;
}

.footer {
  background-color: #EBE6E1;
  text-align: center;
  padding-bottom: 40px;
}

.sectionTitle {
  font-size: 32px;
  padding: 24px;
  position: relative;
}
.sectionTitle::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #292724;
  width: 1px;
  height: 100px;
  top: 0;
  left: 0;
}
.sectionTitle::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #292724;
  width: 17.3611111111%;
  height: 3px;
  bottom: 0;
  left: -20px;
}
@media screen and (max-width: 850px) {
  .sectionTitle::after {
    width: 200px;
  }
}

.btn {
  color: #B3424A;
  border: 1px solid #B3424A;
  padding: 16px;
  display: inline-block;
}
.btn.--contact {
  margin-top: 40px;
}
.btn:hover {
  color: #EBE6E1;
  background-color: #B3424A;
  border: 1px solid #B3424A;
}

.account {
  color: #B3424A;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.contact {
  background-color: #EBE6E1;
}
.contact__inner {
  text-align: center;
  padding: 40px 8.3333333333%;
}
.contact__title {
  font-size: 32px;
}
.contact__text {
  padding-top: 40px;
  line-height: 1.5;
}
.contact .sp {
  display: none;
}
@media screen and (max-width: 850px) {
  .contact .sp {
    display: inline;
  }
}

.works {
  background-color: #EBE6E1;
}
.works__inner {
  padding: 120px 8.3333333333%;
}
@media screen and (max-width: 850px) {
  .works__inner {
    padding: 40px 8.3333333333%;
  }
}
.works__container {
  padding-left: 5.2777777778%;
  position: relative;
  padding-top: 80px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 2s;
}
@media screen and (max-width: 850px) {
  .works__container {
    padding-top: 40px;
    padding-left: 0;
  }
}
.works__container::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #292724;
  width: 1px;
  height: 95%;
  left: 5.2777777778%;
}
@media screen and (max-width: 850px) {
  .works__container::before {
    height: 97%;
    left: 0;
  }
}
.works__container.--img {
  margin-top: 80px;
}
@media screen and (max-width: 850px) {
  .works__container.--img {
    margin-top: 40px;
  }
}
.works__title {
  font-size: 24px;
  padding: 24px;
  position: relative;
}
@media screen and (max-width: 850px) {
  .works__title {
    padding: 16px 8px;
  }
}
.works__title::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #292724;
  background-color: #B3424A;
  width: 380px;
  height: 3px;
  bottom: 0;
  left: -20px;
}
@media screen and (max-width: 850px) {
  .works__title::after {
    width: calc(100% + 20px);
  }
}
.works__block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.works__block::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #292724;
  width: calc(100% + 20px);
  height: 1px;
  bottom: 0;
  left: -20px;
}
.works__text {
  width: 80%;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  position: relative;
  padding-bottom: 24px;
}
@media screen and (max-width: 850px) {
  .works__text {
    width: 90%;
  }
}
.works__text span {
  display: block;
  margin-bottom: 16px;
}
.works__video {
  width: 80%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 40px 0;
}
@media screen and (max-width: 850px) {
  .works__video {
    width: 90%;
  }
}
.works__imgBox {
  width: 80%;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5555555556%;
}
@media screen and (max-width: 850px) {
  .works__imgBox {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
}
.works__imgBox img {
  width: 100%;
}

/* 画面領域に差し掛かった時に付与するクラス */
.js-fade {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.about {
  background: url(../img/about_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about__inner {
  padding: 120px 8.3333333333%;
}
.about__container {
  position: relative;
}
.about__container::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #292724;
  width: 1px;
  height: 100%;
}
.about__title {
  font-size: 32px;
  font-weight: bold;
  padding: 24px;
  position: relative;
}
.about__title::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #292724;
  background-color: #B3424A;
  width: 26.3888888889%;
  height: 3px;
  left: -20px;
  bottom: 0;
}
@media screen and (max-width: 850px) {
  .about__title::after {
    width: calc(100% + 8px + 24px);
    left: -24px;
  }
}
.about__block {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .about__block {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about__text {
  width: 40%;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 40px;
  padding-left: 24px;
  position: relative;
}
@media screen and (max-width: 850px) {
  .about__text {
    width: 90%;
    padding-left: 0;
  }
}
.about__text p {
  padding-bottom: 2em;
}
.about__text span {
  display: block;
  padding-bottom: 1em;
}
.about_profile {
  text-align: justify;
}
.about__img {
  width: 50%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 850px) {
  .about__img {
    width: 90%;
    padding-top: 40px;
  }
}

/* common
   ----------------------------------------------------------------- */
/* topPage
   ----------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

main {
  color: #292724;
}

.mainArea__video {
  width: 100%;
}/*# sourceMappingURL=style.css.map */