@use "variable" as var;

.contact {
    background-color: var.$color-base;
    &__outer {
        position: relative;

        //上線
        &::before {
            width: 20%;
            height: 1px;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            top: 80px;
            left: 80px;
            content: "";
        }

        //下線
        &::after {
            width: 20%;
            height: 1px;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            bottom: 80px;
            right: 80px;
            content: "";
        }
    }

    &__inner {
        padding: 160px 120px;
        text-align: center;
        position: relative;

        &::before {
            width: 1px;
            height: 30%;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            content: "";
            top: 40px;
        }

        &::after {
            width: 1px;
            height: 30%;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            content: "";
            bottom: 40px;
            right: 120px;
        }
    }

    &__title {
        font-size: 32px;
    }

    &__text {
        margin-top: 40px;
    }
}