@use "variable"as var;

.contact {
    background-color: var.$color-base;

    &__inner {
        text-align: center;
        padding: 40px calc(120 / 1440 * 100%);
    }

    &__title {
        font-size: 32px;
    }

    &__text {
        padding-top: 40px;
        line-height: 1.5;
    }

    .sp {
        display: none;
    }

    @include var.mq(sp) {
        .sp {
            display: inline;
        }
    }
}