@use "variable"as var;

.contact {
    background-color: var.$color-base;

    &__outer {
        padding: 40px 8.33%; // 横幅1440pxに対して、120pxずつ取りたい
    }

    &__inner {
        text-align: center;
    }

    &__title {
        font-size: 32px;
    }

    &__text {
        margin-top: 40px;
        line-height: 1.5;
    }

    .sp {
        display: none;
    }

    @include var.mq(sp) {
        .sp {
            display: inline;
        }
    }
}