@use "variable"as var;
.header {
    color: var.$color-accent;
    padding: calc(20 / 1440 * 100%) calc(120 / 1440 * 100%);
    position: fixed;
    top: 0;
    width: calc(100% - 240px);
    z-index: 1000;

    @include var.mq(sp) {
        padding: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;

        @include var.mq(sp) {
            display: none;
        }
    }

    &__item {
        padding-left: 20px;
    }

    a {
        color: #fff;

        &:hover {
            color: var.$color-accent;
        }
    }
}