/* color
   ----------------------------------------------------------------- */
$color-base:#EBE6E1;
$color-sub:#292724;
$color-accent:#B3424A;

/* font
   ----------------------------------------------------------------- */
@mixin font() {
   color: $color-sub;
}

/* メディアクエリ
   ----------------------------------------------------------------- */
$breakpoint: (
   sp: 'screen and (max-width: 850px)',
);

@mixin mq($bp) {
   @media #{map-get($breakpoint, $bp)} {
      @content;
   }
}

/* 線装飾_共通
   ----------------------------------------------------------------- */
@mixin border() {
   content: "";
   display: block;
   position: absolute;
   background-color: $color-sub;
}