@use "../common/variable"as var;

.about {
    background: url(../img/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        padding: 8.33%; // 横幅1440pxに対して、120pxずつ取りたい
    }

    &__container {
        position: relative;

        //左線
        &::before {
            width: 1px;
            height: 120%;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            top: -24px;
            left: 0;
            content: "";

            @include var.mq(sp) {
                height: 100%;
            }
        }
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin: 24px;
        position: relative;

        //下線
        &::after {
            width: 380px;
            height: 3px;
            background-color: var.$color-accent;
            display: block;
            position: absolute;
            bottom: -24px;
            left: -40px;
            content: "";
        }

        @include var.mq(sp) {
            margin: 8px;

            //下線
            &::after {
                width: calc(100% + 8px + 24px);
                left: -24px;
            }
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;

        @include var.mq(sp) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__text {
        width: 40%;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 40px;
        position: relative;
        margin-left: 24px;

        p {
            margin-bottom: 32px;
        }

        span {
            display: block;
            margin-bottom: 16px;
        }

        @include var.mq(sp) {
            width: 90%;
            margin: 20px auto;
        }
    }

    &_profile {
        text-align: justify;
    }

    &__img {
        width: 50%;
        height: auto;
        object-fit: contain;

        @include var.mq(sp) {
            width: 90%;
            margin-top: calc(8px + 24px + 20px);
        }
    }
}