@use "../common/variable"as var;

.works {
    background-color: var.$color-base;

    &__inner {
        padding: 120px calc(120 / 1440 * 100%);

        @include var.mq(sp) {
            padding: 40px calc(120 / 1440 * 100%);
        }
    }

    &__container {
        padding-left: calc(76px / 1440px * 100%);
        position: relative;
        padding-top: 80px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: all 2s;

        @include var.mq(sp) {
            padding-top: 40px;
            padding-left: 0;
        }

        //線装飾_左線
        &::before {
            @include var.border();
            width: 1px;
            height: 95%;
            left: calc(76px / 1440px * 100%);

            @include var.mq(sp) {
                height: 97%;
                left: 0;
            }
        }

        &.--img {
            margin-top: 80px;

            @include var.mq(sp) {
                margin-top: 40px;
            }
        }
    }

    &__title {
        font-size: 24px;
        padding: 24px;
        position: relative;

        @include var.mq(sp) {
            padding: 16px 8px;
        }

        //線装飾_下線
        &::after {
            @include var.border();
            background-color: var.$color-accent;
            width: 380px;
            height: 3px;
            bottom: 0;
            left: -20px;

            @include var.mq(sp) {
                width: calc(100% + 20px);
            }
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: relative;

        //線装飾_下線
        &::after {
            @include var.border();
            width: calc(100% + 20px);
            height: 1px;
            bottom: 0;
            left: -20px;
        }
    }

    &__text {
        width: 80%;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
        position: relative;
        padding-bottom: calc(40px - 16px);

        @include var.mq(sp) {
            width: 90%;
        }

        span {
            display: block;
            margin-bottom: 16px;
        }
    }

    &__video {
        width: 80%;
        height: auto;
        object-fit: contain;
        padding: 40px 0;

        @include var.mq(sp) {
            width: 90%;
        }
    }

    &__imgBox {
        width: 80%;
        padding: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: calc(8 / 1440 * 100%);

        @include var.mq(sp) {
            width: 90%;
            grid-template-columns: 1fr 1fr;
        }

        img {
            width: 100%;
        }
    }
}

/* 画面領域に差し掛かった時に付与するクラス */
.js-fade {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}