@use "../common/variable"as var;

.works {
    background-color: var.$color-base;

    &__inner {
        padding: 8.33%; // 120px/1440px
    }
    
    &__btn{
        text-align: center;
    }
}

.works-block {
    margin-top: 160px;
    margin-left: calc(196px - 120px);
    position: relative;

    // 共通
    &__title {
        font-size: 24px;
        margin: 24px;
        position: relative;
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @include var.mq(sp) {
            flex-direction: column;
        }
    }

    &__text {
        width: 30%;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
        margin-top: 40px;
        position: relative;

        @include var.mq(sp) {
            width: 90%;
        }

        span {
            display: block;
            margin-bottom: 16px;
        }
    }

    &__img {
        width: 60%;
        height: auto;
        object-fit: contain;

        @include var.mq(sp) {
            width: 90%;
        }
    }

    &:nth-child(2n-1) {

        //右線
        &::before {
            width: 1px;
            height: 120%;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            top: -24px;
            left: 0;
            content: "";
        }

        //下線
        &::after {
            width: calc(100% + 20px);
            height: 1px;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            bottom: -40px;
            left: -20px;
            content: "";
        }

        .works-block__title {

            //下線
            &::after {
                width: 380px;
                height: 3px;
                background-color: var.$color-accent;
                display: block;
                position: absolute;
                bottom: -24px;
                left: -40px;
                content: "";
            }
        }

        .works-block__text {
            margin-left: 24px;
        }
    }

    &:nth-child(2n) {

        //左線
        &::before {
            width: 1px;
            height: 120%;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            top: -24px;
            right: 0;
            content: "";
        }

        //下線
        &::after {
            width: calc(100% + 20px);
            height: 1px;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            bottom: -40px;
            left: 0;
            content: "";
        }

        .works-block__title {
            text-align: right;

            //下線
            &::after {
                width: 380px;
                height: 3px;
                background-color: var.$color-accent;
                display: block;
                position: absolute;
                bottom: -24px;
                right: -40px;
                content: "";
            }
        }

        .works-block__text {
            margin-right: 24px;
        }
    }

}