@use "../common/variable" as var;

.mainArea {
    background: url(../img/mainArea_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 40px;
        padding-top: 50vh;
        margin-right: 120px;
        text-align: right;
    }

    &__sub {
        color: rgb(255, 255, 255);
        font-size: 24px;
        display: block;
        margin-top: 24px;
        text-align: right;
        margin-right: 120px;
    }
}