@use "../common/variable"as var;

.allworks {
    background-color: var.$color-base;

    &__inner {
        padding: 8.33%; // 120px/1440px
        position: relative;

        &::before {
            width: 20%;
            height: 1px;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            bottom: 80px;
            right: 80px;
            content: "";
        }
        &::after {
            width: 1px;
            height: 30%;
            background-color: var.$color-sub;
            display: block;
            position: absolute;
            content: "";
            bottom: 40px;
            right: 120px;
        }
    }

    &__btn {
        text-align: center;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: calc(24px + 80px);
    }

    &__item{
        margin-right: 20px;
        margin-bottom: 80px;
    }
    &__img {
        width: 240px;
        height: 240px;
        object-fit: cover;
    }

    &__title {
        display: block;
        margin-top: 20px;
    }
}